@page "/buyers"
@page "/buyers/{CurrentPage:int}"
@rendermode InteractiveServer
@attribute [Authorize]
@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos
@using WebRifa.Blazor.Core.Requests.Queries.Buyer
@inject IBuyerBlazorService _buyerService

<PageTitle>Compradores</PageTitle>

<h3>Compradores</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="./buyer">Novo Cadastro</a>
</div>

@if (Buyers is null) {
    <Loading />    
}
else if (!Buyers.Items!.Any()) {
    <p>Não há Compradores Cadastrados</p>
}
else {
    <SearchField SearchCallBackEvent="ReceiveSeachFieldCallBack"/>

    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var buyer in Buyers.Items) {
                <tr>
                    <td>@buyer.Name</td>
                    <td>@buyer.PhoneNumber</td>
                    <td>@buyer.Email</td>
                    <td class="text-end">
                        <a class="btn btn-info" href="@GetEditLink(buyer)">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <Pagination CurrentPage="CurrentPage" 
            TotalPages="Buyers.TotalPages"
            NavigationLink="./buyers"/>
}

@code {
    [Parameter]
    public int CurrentPage { get; set; }

    public PaginatedList<BuyerDto>? Buyers { get; set; }
    BuyerSearchQuery Query { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Query.CurrentPage = CurrentPage;
        await GetBuyers();
    }

    async Task GetBuyers()
    {
        Buyers = await _buyerService.GetSearchBuyersAsync(Query);
    }

    async Task ReceiveSeachFieldCallBack(string searchTerm)
    {
        Query.SearchTerm = searchTerm;
        await GetBuyers();
    }

    public string GetEditLink(BuyerDto buyerDto) => 
        $"/buyer/{buyerDto.Id}";
}
