@page "/buyers"
@attribute [StreamRendering]
@attribute [Authorize]
@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos
@inject IBuyerBlazorService _buyerService

<h3>Compradores</h3>

<div>
    <a class="btn btn-primary" href="./buyer">Novo Cadastro</a>
</div>

@if (Buyers is null) {
    <p>Carregando...</p>
}
else if (!Buyers!.Any()) {
    <p>Não há Compradores Cadastrados</p>
}
else {
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var buyer in Buyers) {
                <tr>
                    <td>@buyer.Name</td>
                    <td>@buyer.PhoneNumber</td>
                    <td>@buyer.Email</td>
                    <td>
                        <a class="btn btn-info" href="@GetEditLink(buyer)">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@code {
    public List<BuyerDto>? Buyers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Buyers = await _buyerService.GetAllBuyersAsync();
    }
    
    public string GetEditLink(BuyerDto buyerDto) => 
        $"/buyer/{buyerDto.Id}";
}
