body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
}

.info-container {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-container > p {
    text-align: center;
    font-weight: bold;
}

.info-container > label {
    text-align: center;
}

.raffle-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.raffle-buyer-fields {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.raffle-numbers {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 10px;
}

.raffle-input input,
.buyer-input input{
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

.raffle-input span,
.buyer-input span {
    width: 100%;
    display: block;
}

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover {
        background-color: #0056b3;
    }

h1 {
    text-align: center;
}

ul {    
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    width: calc(10% - 20px);
    min-width: 6em;
    margin: 5px 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
    
.available-number:hover {
        background-color: dodgerblue;
    }

.selected-number {
    background-color: green;
}

.unavailable-number {
    background-color: red;
}

@media screen and (max-width: 800px) {
    li {
        width: calc(20% - 20px);
    }

    .container {
        max-width: 100%;
    }

    .raffle-body {
        display: block;
    }

    .raffle-buyer-fields {
        max-width: 100%;
        display: block;
    }

    .raffle-numbers {
        max-width: 100%;
        display: block;
    }

    li {
        min-width: 3em;
    }
}
