body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.raffle-input {
    min-width: 21em;
    display: block;
}

.buyer-input {
    min-width: 21em;
    display: block;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

li {
    width: calc(10% - 20px);
    min-width: 8em;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.available-number {
    background-color: green;
}

.unavailable-number {
    background-color: red;
}

@media screen and (max-width: 600px) {
    li {
        width: calc(20% - 20px);
    }
}
