@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos
@inject IReceiptBlazorService _receiptService

<h3>Bilhetes</h3>

@if (Receipts is null) {
    <p>Carregando...</p>
}
else if (!Receipts!.Any()) {
    <p>Não há Bilhetes Cadastradas.</p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in Receipts) {
                <tr>
                    <td>@receipt.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<ReceiptDto>? Receipts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Receipts = await _receiptService.GetAllReceiptsAsync();
    }
}
