<nav aria-label="pages navigation">
    <ul class="pagination">
        @for (int i = 1; i <= TotalPages; i++) {
            <li class="page-item @ActivePageLinkCssClass(i)" aria-current="page">
                <a class="page-link" href="">@i</a>
            </li>
        }
    </ul>
</nav>

@code {

}
