.container {
    display: flex;
    flex-direction: column;
}

.draw-fields {
    width: 30em;
    max-width: 700px;
    margin: auto;
}

input {
    width: 100%;
    margin: 20px auto 0 auto;
}

button {
    display: block;
    margin: 20px auto 20px auto;
}

span {
    display: block;
}