@page "/Error"

@using System.Diagnostics
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.WebUtilities

<PageTitle>Erro</PageTitle>

<h1 class="text-danger">Erro!</h1>
<h2 class="text-danger">Ocorreu um erro durante a execução.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@if (ShowProblemDetails) {
    <p>
        <strong>@ErrorTitle</strong>
    </p>
    <p>
        @ErrorDetail
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
    private string? RequestId { get; set; }
    private string? ErrorTitle { get; set; } = string.Empty;
    private string? ErrorDetail { get; set; } = string.Empty;
    
    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

        ErrorTitle = HttpContext?.Request?.Query["title"] ?? string.Empty;
        ErrorDetail = HttpContext?.Request.Query["detail"] ?? string.Empty;
    }

    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);
    private bool ShowProblemDetails => 
        !string.IsNullOrEmpty(ErrorTitle) &&
        !string.IsNullOrEmpty(ErrorDetail);

}
