@page "/receipt/{Id}"

@rendermode InteractiveServer
@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos
@using Net.Codecrete.QrCodeGenerator
@using System

@inject IReceiptBlazorService receiptService
@inject NavigationManager navigationManager
@inject IJSRuntime JS
@inject HttpClient http

<PageTitle>Recibo de Rifa</PageTitle>

@if (IsLoading()) {
    <Loading/>
}
else {
    <div class="receipt" id="@ReceiptElementId">
        <div class="header">
            <h2>Recibo</h2>
        </div>
        <div class="content">
            <div class="field">
                <p><strong>Comprador</strong></p>
                <span>@Receipt?.BuyerName</span>
            </div>
            
            <div class="field">
                <p><strong>Descrição da Rifa</strong></p>
                <span>@Receipt?.RaffleDescription</span>
            </div>

            <p><strong>Números dos Bilhetes</strong></p>
            <ul>
                @foreach (var number in Receipt?.TicketsNumbers ?? new()) {
                    <li>@number</li>
                }
            </ul>
            <div class="qr-code">
                <img src="data:image/Bmp;base64, @QrCodeBase64" />
            </div>
        </div>

        <div class="do-not-print">
            <button @onclick="Export"
                    class="btn btn-secondary">

                <i class="bi bi-share-fill" />
            </button>
        </div>
    </div>

}