@page "/receipt/{id}"

<PageTitle>Recibo de Rifa</PageTitle>

<div class="coupon">
    <div class="header">
        <h2>Recibo</h2>
    </div>
    <div class="content">
        <p><strong>Comprador:</strong> {{buyerName}}</p>
        <p><strong>Descrição do Rifa:</strong> {{raffleDescription}}</p>
        <p><strong>Números dos Tickets:</strong></p>
        <ul>
            
            <li>To-do: ticketNumber</li>
            
        </ul>
        <div class="qr-code">
            <!-- QR code gerado a partir do ID -->
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{id}}&amp;size=100x100" alt="QR Code">
        </div>
    </div>
</div>

@code {

}
