<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebRifa.Blazor.styles.css" />
    <link rel="stylesheet" href="./sweetalert2/sweetalert2.min.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="./sweetalert2/sweetalert2.all.min.js"></script>
    <script src="./webrifa.sweetalert.js"></script>
    <script src="./html2pdf/html2pdf.bundle.min.js"></script>
    <script src="./webrifa.html2pdf.js"></script>
</body>

</html>
