@typeparam TItem

<div class="dropdown d-block"
        @onclick="ShowItems"
        @onfocusin="ShowItems"
        @onfocusout="HideItems"
        @onkeyup="OnDropDownOnKeyUp">

    <input type="text"
           placeholder="@Placeholder"
           autocomplete="off"
           id="myInput"
           @bind=SelectedItemValue
           @oninput="OnInputKeyUp">

    <div id="myDropdown"
         class="dropdown-content @GetCSSClassInputFocus()">

        @foreach (var item in GetFilteredList()) {
            <a class="@GetFocusCSSClass(GetIndexFromItem(item))"
                @onmouseover="(() => OnMouseOverIndex(GetIndexFromItem(item)))"
                @onclick="(() => SelectItem(item))">
                
                @GetPropValue(item)
            </a>
        }
    </div>
</div>
